@charset "utf-8";

body, html{
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
}

.float-left {
	float:left;
}
.float-right {
	float:right;
}
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
.colfff{
	color:white;
}

.col333{
	color:#333;
}
.col666{
	color:#666;
}

.split-line{
  width:100%;
  border-bottom: 1px solid #E0E0E0;
}