<style type="text/css">
	.banner{ 
	 	width:100%;
	 	height:320px;
	 	background: url('/images/about_banner.jpg') no-repeat center center;
	 	background-size: cover;
	}

	.introduce{
		width:1200px;
		margin:0 auto;
		padding-bottom: 20px;
	}

	.intro-word{
		width:805px;
		margin:70px auto;
		font-size: 14px;
		color: #666;
		letter-spacing: 2px;
		line-height: 34px;
		text-indent:2em;
		text-align: justify;
	}

	.photos-block{
		width:1170px;
		margin:0 auto;
	}

	.photos{
		display: flex;
		margin-bottom: 20px;
	}

	.photos li{
		float:left;
		flex: 1;
	}

	.photos img{
		width:390px;
		height:240px;
	}

	.theme-block{
 	  margin:0 auto;
      width:1200px;
      height:700px;
      text-align: center;
	 }

	 .theme-title{
	 	padding: 60px 0;
	 	color:#666;
	 	font-size: 40px;
	 }

	 .footer-line{
	 	border-bottom: 1px solid #C0C2C6;
	 }

	 .branch{
	 	width:1000px;
	 	margin: 0 auto;
	 	display: flex;
	 }

	 .branch-box{
	 	flex: 1;
	 }

	 .area{
	 	font-size: 18px;
	 	color:#999;
	 	width:220px; 
	 	text-align: center;
	 	margin: 0 auto;
	 	margin-bottom: 20px;
	 }

	 .area-box{
	 	text-align: center;
	 }

	 .organization{
	 	width:220px; 
	 	height:92px; 
	 	border:1px dashed #DCDCDC;
	 	font-size: 14px;
	 	line-height: 30px;
	 	margin: 0 auto;
	 	margin-bottom: 20px;
	 }


</style>


<!-- banner -->
<div class="banner"></div>

<!-- us -->
<div class="introduce">
	<div class="intro-word">
		<p>&nbsp;易趴科技（www.51eparty.com）致力于围绕餐饮场景，为商户提供基于大数据和智能化的整体餐饮ERP解决方案；可为餐厅提供WiFi覆盖、微信点餐、收银支付、广告营销、客流统计、用户画像等互联网服务；可为顾客带来更具个性化、智能化的就餐体验。
		</p>
		<p>&nbsp;易趴科技已经陆续开启和全国主要城市的知名餐饮品牌的全面合作。在大数据的驱动下，我们将持续助力餐饮商户融入互联网，提高服务效能，降低经营成本，建立自主营销能力，以智慧和高效的方式吸引顾客到店消费。
		</p>
		<p>&nbsp;我们拥有一批来自BAT等顶尖互联网公司的资深技术、产品和运营管理团队，他们以用户利益为优先，激情创新，勇于挑战，将持续不断为用户创造价值，推动餐饮行业的智慧发展。
		</p>
	</div>

	<!-- 照片墙 -->
	<div class="photos-block">
		<ul class="photos">
			<li> <img src="/images/photo1.png"></li>
			<li> <img src="/images/photo2.png"></li>
			<li> <img src="/images/photo3.png"></li>
		</ul>

		<ul class="photos">
			<li> <img src="/images/photo4.png"></li>
			<li> <img src="/images/photo5.png"></li>
			<li> <img src="/images/photo6.png"></li>
		</ul>
	</div>
</div>

<div class="split-line"></div>

<div class="theme-block footer-line">
	<div class="theme-title">分支机构</div>
	<div class="branch">

		<div class="branch-box">
			<div class="area-box">
				<p class="area">华北</p>
				<div class="organization">
					<p class="col333">北京</p>
					<p class="col666">北京海淀营业部</p>
					<p class="col666">18515495255</p>
				</div>
			</div>
		</div>

		<div class="branch-box">
			<div class="area-box">
				<p class="area">华东</p>
				<div class="organization">
					<p class="col333">上海</p>
					<p class="col666">浦东新区</p>
					<p class="col666">13524682151</p>
				</div>

				<div class="organization">
					<p class="col333">苏州</p>
					<p class="col666">苏州金河国际中心营业部</p>
					<p class="col666">15061467685</p>
				</div>

				<div class="organization">
					<p class="col333">杭州</p>
					<p class="col666">杭州新塘路营业部</p>
					<p class="col666">18906814627</p>
				</div>

				<div class="organization">
					<p class="col333">南京</p>
					<p class="col666">南京易趴营业部</p>
					<p class="col666">15151848586</p>
				</div>

			</div>
		</div>

		<div class="branch-box">
			<div class="area-box">
				<p class="area">华西</p>
				<div class="organization">
					<p class="col333">重庆</p>
					<p class="col666">重庆大坪时代天街营业部</p>
					<p class="col666">15823361408</p>
				</div>

				<div class="organization">
					<p class="col333">成都</p>
					<p class="col666">成都喜年广场营业部</p>
					<p class="col666">13039332566</p>
				</div>

			</div>
		</div>

		<div class="branch-box">
			<div class="area-box">
				<p class="area">华南</p>
				<div class="organization">
					<p class="col333">广州</p>
					<p class="col666">广州冠弘商务中心营业部</p>
					<p class="col666">15902017514</p>
				</div>

				<div class="organization">
					<p class="col333">深圳</p>
					<p class="col666">深圳福田营业部</p>
					<p class="col666">18620922774</p>
				</div>

				<div class="organization">
					<p class="col333">东莞</p>
					<p class="col666">东莞国泰大厦营业部</p>
					<p class="col666">18688891132</p>
				</div>

			</div>
		</div>

	</div>
	
</div>