<style type="text/css">
	.part1 {
		height: 720px;
		width: 100%;
		background: #F8F8F8;
	}

	.part1-content {
		width: 1200px;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}

	.part1-title {
		margin: 0 auto;
		padding-top: 80px;
		text-align: center;
	}

	.title-img {
		width: 571px;
		height: 47px;
	}

	.part1-img {
		width: 1070px;
		height: 540px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.part2 {
		width: 100%;
		height:615px;
	}
	.part2-content {
		width: 1200px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		background: #fff url('/images/line.png') no-repeat;
		background-size: 100% 100%;
		border: 1px solid red;
	}

	.part2-img {
		width: 614px;
		height: 540px;
		position: absolute;
		bottom: 0;
		left: 20px;
	}

	.part2-intro {
		height: 200px;
		position: absolute;
		right: 100px;
		top: 100px;
	}

	.bold-title {
		font-size: 48px;
		font-weight: bold;
		color: #444;
	}

	.app {
		width: 220px;
		height:36px;
		line-height: 36px;
		padding:0 10px;
		font-size: 20px;
		border:1px dashed #11BBB4;
		border-radius: 20px;
		margin-top:20px;
	}

	.app-function {
		margin-top:10px;
		line-height: 28px;
	}

</style>

<div class="product">
	<div class="part1">
		<div class="part1-content">
			<div class="part1-title">
				<img src="/images/title.png" class="title-img">
			</div>
			<img src="/images/part1.png" class="part1-img">
		</div>
	</div>

	<div class="part2">
		<div class="part2-content">
			<img src="/images/part2.png" class="part2-img">
			<div class="part2-intro">
				<div class="bold-title">易趴云小二</div>
				<div class="app">管理顾客点菜的手机APP</div>
				<div class="app-function">
					<p>[桌台管理] 对台位进行开台、并台、撤台、换台、结帐等操作</p>
					<p>[点菜管理] 管理顾客的点菜、加菜、买单、小票打印等</p>
					<p>[打赏管理] 查看顾客的打赏情况、提现余额</p>
					<p>......</p>
				</div>
			</div>
		</div>
	</div>


</div>
