<style type="text/css">
	.banner{ 
	 	width:100%;
	 	height:320px;
	 	background: url('/images/seller_banner.jpg') no-repeat center center;
	 	background-size: cover;
	}

	.seller{
		width:100%;
		height:950px;
		background: #eee;
	}

	.seller-title{
		font-size: 18px;
		color:#666;
		font-weight: bold;
		line-height: 100px;
	}

	.seller-block{
		width:1200px;
		height:100%;
		margin:0 auto;
	}


	.sellers{
	 	display: flex;
	 	margin-bottom: 30px;
	 }

	 .sellers li{
	 	float:left;
	 	flex: 1;
	 	text-align: center;
	 }
	 .sellers img{
	 	width:180px;
	 	height:180px;
	 }

	 .sellers p{
	 	font-size: 16px;
	 	color:#333;
	 	line-height: 60px;
	 }


</style>

<!-- banner -->
<div class="banner"></div>

<!-- seller -->
<div class="seller">
	<div class="seller-block">
		<div class="seller-title">合作案例</div>

			<ul class="sellers">
				<li>
					 <img src="/images/store1.png">
					 <p>上海-鼎中鼎澳门豆捞</p>
				</li>
				<li>
					 <img src="/images/store2.png">
					 <p>上海-麻省理功烤鱼</p>
				</li>
				<li>
				 	<img src="/images/store3.png">
					 <p>上海-正一味</p>
				</li>
				<li>
				 	<img src="/images/store4.png">
					 <p>上海-牛气冲天潮汕火锅</p>
				</li>
			</ul>

			<ul class="sellers">
				<li>
					 <img src="/images/store5.png">
					 <p>南京-奶酪时光</p>
				</li>
				<li>
					 <img src="/images/store6.png">
					 <p>南京-柠檬鱼</p>
				</li>
				<li>
				 	<img src="/images/store7.png">
					 <p>南京-七欣天</p>
				</li>
				<li>
				 	<img src="/images/store8.png">
					 <p>南京-煲宫</p>
				</li>
			</ul>

			<ul class="sellers">
				<li>
					 <img src="/images/store9.png">
					 <p>广州-福岛料理</p>
				</li>
				<li>
					 <img src="/images/store10.png">
					 <p>深圳-辣莊</p>
				</li>
				<li>
				 	<img src="/images/store11.png">
					 <p>深圳-千叶寿司</p>
				</li>
				<li>
				 	<img src="/images/store12.png">
					 <p>深圳-驼铃印象</p>
				</li>
			</ul>

	</div>
</div>